<h1 class="text-center">New Orders</h1>
<div class="sm:px-6 w-full">
  <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tbody>
          <tr
            *ngFor="let order of orders"
            tabindex="0"
            class="focus:outline-none h-16 border border-gray-100 rounded"
          >
            <td class="">
              <div class="flex items-center pl-5">
                <p
                  class="text-base font-medium leading-none text-gray-700 mr-2"
                >
                  {{ order.id }}
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                    stroke="#3B82F6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                    stroke="#3B82F6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
            </td>
            <td class="pl-24">
              <div class="flex items-center">
                <p class="text-sm leading-none text-gray-600 ml-2">
                  ${{ order.netAmount }}
                </p>
              </div>
            </td>

            <td class="pl-5">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded"
              >
                Due {{ order.time }}
              </button>
            </td>
            <td class="pl-5" *ngIf="order.orderStatus == 'pending'">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded"
              >
                Pending
              </button>
            </td>
            <td class="pl-5" *ngIf="order.orderStatus == 'processing'">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-green-700 bg-green-100 rounded"
              >
                Processing
              </button>
            </td>
            <td class="pl-5" *ngIf="order.orderStatus == 'delivered'">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-blue-700 bg-blue-100 rounded"
              >
                Delivered
              </button>
            </td>
            <td class="pl-4">
              <a
                routerLink="/dashboard/customersOrders/{{ order.id }}"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
              >
                View
              </a>
            </td>
          </tr>
          <tr class="h-3"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal starts -->
<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal ends -->

<br /><br /><br />
<h1 class="text-center">Completed Orders</h1>
<div class="sm:px-6 w-full">
  <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tbody>
          <tr
            *ngFor="let completedOrder of completedOrders"
            tabindex="0"
            class="focus:outline-none h-16 border border-gray-100 rounded"
          >
            <td class="">
              <div class="flex items-center pl-5">
                <p
                  class="text-base font-medium leading-none text-gray-700 mr-2"
                >
                  {{ completedOrder.id }}
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                    stroke="#3B82F6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                    stroke="#3B82F6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
            </td>
            <td class="pl-24">
              <div class="flex items-center">
                <p class="text-sm leading-none text-gray-600 ml-2">
                  ${{ completedOrder.netAmount }}
                </p>
              </div>
            </td>

            <td class="pl-5">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded"
              >
                Delivered Within {{ completedOrder.time }}
              </button>
            </td>

            <td class="pl-5" *ngIf="completedOrder.orderStatus == 'delivered'">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-blue-700 bg-blue-100 rounded"
              >
                Delivered
              </button>
            </td>
            <!-- <td class="pl-4">
              <a
                routerLink="/dashboard/customersOrders/{{ completedOrder.id }}"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
              >
                View
              </a>
            </td> -->
          </tr>
          <tr class="h-3"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br /><br /><br />
<h1 class="text-center">Cancelled Orders</h1>
<div class="sm:px-6 w-full">
  <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tbody>
          <tr
            *ngFor="let canceledOrder of cancelledOrders"
            tabindex="0"
            class="focus:outline-none h-16 border border-gray-100 rounded"
          >
            <td class="">
              <div class="flex items-center pl-5">
                <p
                  class="text-base font-medium leading-none text-gray-700 mr-2"
                >
                  {{ canceledOrder.id }}
                </p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                    stroke="#3B82F6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                    stroke="#3B82F6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
            </td>
            <td class="pl-24">
              <div class="flex items-center">
                <p class="text-sm leading-none text-gray-600 ml-2">
                  ${{ canceledOrder.netAmount }}
                </p>
              </div>
            </td>

            <td class="pl-5">
              <button
                class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-400 rounded"
              >
                Cancelled
              </button>
            </td>

            <!-- <td class="pl-4">
              <a
                routerLink="/dashboard/customersOrders/{{ canceledOrder.id }}"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
              >
                View
              </a>
            </td> -->
          </tr>
          <tr class="h-3"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
