<section class="relative pt-16 bg-blueGray-50">
  <div class="mb-16 text-center">
    <h2 class="mb-4 text-center text-2xl text-gray-900 font-bold md:text-4xl">
      Services
    </h2>
    <p class="text-gray-600 lg:w-8/12 lg:mx-auto">
      Our Service is as good as our delicious food
    </p>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-78"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-500"
        >
          <img
            alt="..."
            src="../../../../assets/img/video.jpg"
            class="w-full align-middle rounded-t-lg"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-pink-500 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-black">Our Services</h4>
            <p class="text-md font-light mt-2 text-black">
              Restaurant service is a series of components that work together to
              provide customers with a pleasant and satisfying dining
              experience.
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-sitemap"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Delicious Cuisine</h6>
                <p class="mb-4 text-blueGray-500">
                  Restaurant service is a series of components that work
                  together to provide customers
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-drafting-compass"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Faster Delivery</h6>
                <p class="mb-4 text-blueGray-500">
                  Restaurant service is a series of components that work
                  together to provide customers with a pleasant and satisfying
                  dining experience.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-newspaper"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">24/7 Open</h6>
                <p class="mb-4 text-blueGray-500">
                  Restaurant service is a series of components that work
                  together to provide customers with a pleasant and satisfying
                  dining experience.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-file-alt"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Daily Coupon</h6>
                <p class="mb-4 text-blueGray-500">
                  Restaurant service is a series of components that work
                  together to provide customers with a pleasant and satisfying
                  dining experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
