<div class="flex gap-1">
  <div class="basis-1/4">
    <div class="bg-white rounded-3xl p-8 mb-5">
      <h1 class="text-3xl font-bold mb-10">Inventory sections</h1>
      <hr class="my-10" />
    </div>
  </div>

  <!-- =============================== -->

  <div class="basis-1/2">
    <div class="bg-white rounded-3xl p-8 mb-5">
      <h1 class="text-3xl font-bold mb-10">Kitchen Section</h1>
      <!-- <div class="flex items-center justify-between">
        <div class="flex items-stretch">
          <div class="text-gray-400 text-xs">Members<br />connected</div>
          <div class="h-100 border-l mx-4"></div>
          <div class="flex flex-nowrap -space-x-3">
            <div class="h-9 w-9">
              <img
                class="object-cover w-full h-full rounded-full"
                src="https://ui-avatars.com/api/?background=random"
              />
            </div>
            <div class="h-9 w-9">
              <img
                class="object-cover w-full h-full rounded-full"
                src="https://ui-avatars.com/api/?background=random"
              />
            </div>
          </div>
        </div>
        <div class="flex items-center gap-x-2">
          <button
            type="button"
            class="inline-flex items-center justify-center h-9 px-3 rounded-xl border hover:border-gray-400 text-gray-800 hover:text-gray-900 transition"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-chat-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition"
          >
            Open
          </button>
        </div>
      </div> -->

      <hr class="my-10" />

      <div class="grid grid-cols-2 gap-x-20">
        <div>
          <h2 class="text-2xl font-bold mb-4">Stats</h2>

          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2">
              <div class="p-4 bg-green-100 rounded-xl">
                <div class="font-bold text-xl text-gray-800 leading-none">
                  Good day, <br />Kristin
                </div>
                <div class="mt-5">
                  <button
                    type="button"
                    class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition"
                  >
                    Start tracking
                  </button>
                </div>
              </div>
            </div>
            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
              <div class="font-bold text-2xl leading-none">20</div>
              <div class="mt-2">Tasks finished</div>
            </div>
            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
              <div class="font-bold text-2xl leading-none">5,5</div>
              <div class="mt-2">Tracked hours</div>
            </div>
            <div class="col-span-2">
              <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                <div class="font-bold text-xl leading-none">
                  Your daily plan
                </div>
                <div class="mt-2">5 of 8 completed</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="text-2xl font-bold mb-4">Your tasks pending</h2>

          <div class="space-y-4">
            <div
              *ngFor="let order of orders"
              class="p-4 bg-white border rounded-xl text-gray-800 space-y-2"
            >
              <div class="flex justify-between">
                <div class="text-gray-400 text-xs">Number {{ order.id }}</div>
                <div class="text-gray-400 text-xs">4h</div>
              </div>
              <a
                href="javascript:void(0)"
                class="font-bold hover:text-yellow-800 hover:underline"
                >{{ order.orderItems }}</a
              >
              <div class="text-sm text-gray-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  class="text-gray-800 inline align-middle mr-1"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                  /></svg
                >Deadline is {{ order.time }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- =============================== -->
  <div class="basis-1/4">
    <div class="bg-white rounded-3xl p-8 mb-5">
      <h1 class="text-3xl font-bold mb-10">Menu Items Section</h1>
      <div class="relative text-gray-600 border">
        <input
          type="name"
          (keyup)="filterProducts($event)"
          placeholder="Ex. Banana"
          name="search"
          placeholder="Search"
          class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
        />
        <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
          <svg
            class="h-4 w-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            viewBox="0 0 56.966 56.966"
            style="enable-background: new 0 0 56.966 56.966"
            xml:space="preserve"
            width="512px"
            height="512px"
          >
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
            />
          </svg>
        </button>
      </div>
      <hr class="my-10" />
      <div
        class="min-h-screen bg-gray-50 flex flex-col justify-center relative overflow-hidden sm:py-12"
      >
        <div class="max-w-7xl mx-auto">
          <div class="relative group">
            <div
              class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
            ></div>
            <div
              class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
            >
              <svg
                class="w-8 h-8 text-purple-600"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z"
                ></path>
              </svg>
              <div class="space-y-2">
                <p class="text-slate-800">
                  Learn how to make a glowing gradient background!
                </p>
                <a
                  href="https://braydoncoyer.dev/blog/tailwind-gradients-how-to-make-a-glowing-gradient-background"
                  class="block text-indigo-400 group-hover:text-slate-800 transition duration-200"
                  target="_blank"
                  >Read Article →</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
