<a routerLink="/dashboard/kitchen">
  <button class="shadow-lg rounded px-5 bg-blue-500 text-white">Back</button>
</a>

<!-- <button (click)="openDialog()">Open dialog</button> -->
<!-- =============================== -->
<div class="flex gap-1">
  <div class="basis-3/4">
    <div class="bg-white rounded-3xl p-8 mb-5">
      <h1 class="text-3xl font-bold mb-10">Cooking Section</h1>

      <hr class="my-10" />

      <div class="grid grid-cols-2 gap-x-20">
        <div>
          <h2 class="text-2xl font-bold mb-4">Kitchen Items</h2>

          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2">
              <div class="p-4 bg-green-100 rounded-xl">
                <div
                  class="font-bold text-xl text-gray-800 leading-none"
                  *ngFor="let kitchenItem of kitchenItems"
                >
                  {{ kitchenItem.itemName }} : {{ kitchenItem.itemQuantity }}
                </div>
              </div>
            </div>
            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
              <div class="font-bold text-2xl leading-none">20</div>
              <div class="mt-2">Tasks finished</div>
            </div>
            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800"></div>
            <div class="col-span-2">
              <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                <div class="font-bold text-xl leading-none">
                  Your daily plan
                </div>
                <div class="mt-2">5 of 8 completed</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <!-- <div class="relative text-gray-600 border">
            <input
              type="name"
              (keyup)="searchDishes($event)"
              placeholder="Ex. Banana"
              name="search"
              placeholder="Follow Dishes"
              class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
            />
            <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
              <svg
                class="h-4 w-4 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Capa_1"
                x="0px"
                y="0px"
                viewBox="0 0 56.966 56.966"
                style="enable-background: new 0 0 56.966 56.966"
                xml:space="preserve"
                width="512px"
                height="512px"
              >
                <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                />
              </svg>
            </button>
          </div>
          <div *ngFor="let dish of dishes">
            {{ dish.dishName }}
            <div *ngFor="let item of dish.items">
              {{ item.ingredientName }}
            </div>
          </div> -->

          <div>
            <div>
              <h2 class="text-2xl font-bold mb-4">Today's Dishes</h2>

              <div class="grid grid-cols-2 gap-4">
                <div class="col-span-2">
                  <div
                    class="p-4 bg-green-100 rounded-xl"
                    *ngFor="let dish of dishes"
                  >
                    <div class="font-bold text-xl text-gray-800 leading-none">
                      {{ dish.dishName }} --> {{ dish.estimatedPeople }} people
                      estimated.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-10" />
  </div>

  <!-- =============================== -->
  <div class="basis-1/4">
    <div class="bg-white rounded-3xl p-8 mb-5" [formGroup]="dishForm">
      <h1 class="text-3xl font-bold mb-10">Make A Dish</h1>
      <div class="relative text-gray-600 border">
        <input
          formControlName="dishName"
          type="name"
          placeholder="Ex. Rui Curry"
          name="search"
          class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
        />
      </div>
      <div class="relative text-gray-600 border">
        <input
          formControlName="estimatedPeople"
          type="number"
          name="search"
          placeholder="Estimated People"
          class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
        />
      </div>
      <button (click)="addItem()">Add</button>
      <div formArrayName="items">
        <div
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="relative text-gray-600 border">
            <input
              formControlName="ingredientName"
              type="name"
              placeholder="Ex. Salt"
              name="ingredient"
              class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
            />
          </div>
          <div class="relative text-gray-600 border">
            <input
              formControlName="measuringAmount"
              type="number"
              placeholder="Ex. 5"
              name="measuringAmount"
              class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
            />
          </div>
          <div class="relative">
            <select
              formControlName="measuringUnit"
              class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded"
            >
              <option value="teaSpoon">Tea Spoon</option>
              <option value="tqableSpoon">Table Spoon</option>
              <option value="cup">Cup</option>
              <option value="kg">Kg</option>
              <option value="pieces">Pieces</option>
            </select>
            <div
              class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker"
            >
              <svg
                class="h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <button (click)="deleteItem(i)">Delete</button>
        </div>
      </div>
      <hr class="my-10" />
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>
