<div class="example-boundary" id="capture" #screen>
  <div *ngFor="let table of tables">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
          ></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
        <br />
        <svg
          (click)="deleteTable(table.tableId)"
          width="4px"
          fill="#a30000"
          height="24px"
          width="24px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 330 330"
          xml:space="preserve"
          stroke="#a30000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g id="XMLID_6_">
              <g id="XMLID_11_">
                <path
                  d="M240,121.076H30V275c0,8.284,6.716,15,15,15h60h37.596c19.246,24.348,49.031,40,82.404,40c57.897,0,105-47.103,105-105 C330,172.195,290.816,128.377,240,121.076z M225,300c-41.355,0-75-33.645-75-75s33.645-75,75-75s75,33.645,75,75 S266.355,300,225,300z"
                ></path>
              </g>
              <g id="XMLID_18_">
                <path
                  d="M240,90h15c8.284,0,15-6.716,15-15s-6.716-15-15-15h-30h-15V15c0-8.284-6.716-15-15-15H75c-8.284,0-15,6.716-15,15v45H45 H15C6.716,60,0,66.716,0,75s6.716,15,15,15h15H240z M90,30h90v30h-15h-60H90V30z"
                ></path>
              </g>
              <g id="XMLID_23_">
                <path
                  d="M256.819,193.181c-5.857-5.858-15.355-5.858-21.213,0L225,203.787l-10.606-10.606c-5.857-5.858-15.355-5.858-21.213,0 c-5.858,5.858-5.858,15.355,0,21.213L203.787,225l-10.606,10.606c-5.858,5.858-5.858,15.355,0,21.213 c2.929,2.929,6.768,4.394,10.606,4.394c3.839,0,7.678-1.465,10.607-4.394L225,246.213l10.606,10.606 c2.929,2.929,6.768,4.394,10.607,4.394c3.839,0,7.678-1.465,10.606-4.394c5.858-5.858,5.858-15.355,0-21.213L246.213,225 l10.606-10.606C262.678,208.535,262.678,199.039,256.819,193.181z"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div>Table No: {{ table.tableId }}</div>
      <div>Capacity: {{ table.capacity }} persons</div>
      <div>Service Charge: {{ table.serviceCharge }} Taka</div>

      <div>Table Position: {{ table.position }}</div>
    </div>
  </div>
</div>
<button
  (click)="capture()"
  class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 active:bg-blue-700 disabled:opacity-50"
>
  Save
</button>
<br /><br />
<div class="p-8 rounded border border-gray-200">
  <h1 class="font-medium text-3xl">Add Table</h1>
  <p class="text-gray-600 mt-6">
    <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos
    dolorem vel cupiditate laudantium dicta. -->
  </p>
  <form [formGroup]="createTableForm" (ngSubmit)="createTable()">
    <div class="mt-8 grid lg:grid-cols-2 gap-4">
      <div>
        <label for="name" class="text-sm text-gray-700 block mb-1 font-medium"
          >Table Id</label
        >
        <input
          formControlName="tableId"
          type="text"
          name="name"
          id="name"
          class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Enter your name"
        />
      </div>
      <div>
        <label
          for="capacity"
          class="text-sm text-gray-700 block mb-1 font-medium"
          >Capacity</label
        >
        <input
          formControlName="capacity"
          type="text"
          name="capacity"
          id="capacity"
          class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="yourmail@provider.com"
        />
      </div>
      <div>
        <label
          for="serviceCharge"
          class="text-sm text-gray-700 block mb-1 font-medium"
          >Service Charge</label
        >
        <input
          formControlName="serviceCharge"
          type="text"
          name="serviceCharge"
          id="serviceCharge"
          class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="(ex. developer)"
        />
      </div>
      <div>
        <label
          for="position"
          class="text-sm text-gray-700 block mb-1 font-medium"
          >Position</label
        >
        <input
          formControlName="position"
          type="text"
          name="position"
          id="position"
          class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="(01/01/1993)"
        />
      </div>
    </div>
    <div class="space-x-4 mt-8">
      <button
        type="submit"
        class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 active:bg-blue-700 disabled:opacity-50"
      >
        Create Table
      </button>
      <!-- Secondary -->
      <!-- <button
        class="py-2 px-4 bg-white border border-gray-200 text-gray-600 rounded hover:bg-gray-100 active:bg-gray-200 disabled:opacity-50"
      >
        Cancel
      </button> -->
    </div>
  </form>
</div>

<!-- <h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <div
    draggable="true"
    ondragstart="drag(event)"
    id="drag1"
    width="88"
    height="31"
  >
    Hello
  </div>
</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->
